[submodule "common"]
	path = common
	url = https://github.com/hongzhuxuke/common.git
[submodule "PaasSDK"]
	path = PaasSDK
	url = https://github.com/hongzhuxuke/PaasSDK.git
[submodule "winsdk-player"]
	path = winsdk-player
	url = https://github.com/hongzhuxuke/winsdk-player.git
[submodule "live_core"]
	path = live_core
	url = https://github.com/hongzhuxuke/live_core.git
